<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' type='text/css' href='/static/styles/styles.css'>
    <title>New Car</title>
</head>
<body>
    <h1>Create New Car</h1>
    <form action="/cars" method="POST">
        <input type="text" name="name" placeholder="Name"> 
        <button type="submit">New Cars!</button>
    
    </form>
</body>
</html>